 /* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
 
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     /* font-family: "cormorant-garamond-semibold", sans-serif !important; */
     /* font-family: "avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light", sans-serif !important; */
     /* font-family: "Garamond Premier Pro Medium Display", sans-serif !important; */
     letter-spacing: 0.2px;
 }
 
 body {
     font-family: "Garamond Premier Pro Medium Display" !important;
 }
 
 .main {
     background-image: linear-gradient(180deg, #f8fcfe, #ffffff);
 }
 
 .btn:focus {
     -webkit-box-shadow: none !important;
     box-shadow: 0 1rem 2rem rgba(130, 133, 133, 0.175) !important;
     outline: -webkit-focus-ring-color auto 0px !important;
 }
 
 .brand-color {
     color: #719D9A;
 }
 
 .main-titlee {
     font-weight: 500;
     color: #719D9A;
 }
 
 .bi-check-circle-fill {
     color: #719D9A;
     filter: brightness(0.7);
 }
 
 .call-btn {
     background: #719D9A;
     border-radius: 5px;
     color: white;
     /* border: 2px solid #ffffff; */
     /* outline: 3px solid #ff0000; */
     font-weight: 500;
     font-size: 20px;
 }
 
 .call-btn:hover {
     background-image: linear-gradient(106deg, #719D9A, rgb(77, 77, 77));
     color: white;
 }
 
 .reg-btn,
 .reg-btn:hover {
     box-shadow: 0 1rem 2rem rgba(130, 133, 133, 0.175) !important;
 }
 
 .navbar {
     padding-top: 1rem;
     padding-bottom: 1rem;
 }
 
 .navbar-brand {
     color: black !important;
     font-weight: 800;
     height: 90px;
     margin-right: 0rem !important;
 }
 
 .nav-link {
     color: rgb(0, 0, 0) !important;
     font-weight: 500;
     font-size: 20px;
 }
 
 .nav-link:hover,
 .nav-link-active {
     color: #000000 !important;
     text-decoration: underline #719D9A!important;
     text-underline-offset: 5px;
     text-decoration-thickness: 2px;
 }
 
 .nav-link2 {
     color: rgb(104, 100, 100) !important;
     font-weight: 500;
     text-decoration: none;
 }
 
 .nav-link2:hover {
     color: rgb(0, 0, 0) !important;
     text-decoration: none;
 }
 
 .nav-link-active2 {
     color: #000000 !important;
     text-decoration: underline;
     text-underline-offset: 5px;
     text-decoration-thickness: 2px;
     text-decoration-color: #000000;
 }
 
 #myVideo {
     position: absolute;
     display: block;
     overflow: hidden;
     border-radius: 10px;
     max-width: 100%;
 }
 
 .text-mine {
     color: #000000 !important;
 }
 
 .fw-mine2 {
     font-weight: bold;
     letter-spacing: 0.4px;
     font-size: 1rem;
 }
 
 .mylist2 {
     list-style: none;
     padding: 0;
     margin: 0;
 }
 
 .mylist2 li {
     /* margin-left: 0.5rem; */
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     font-size: 1rem;
 }
 
 .mylist2 li::marker {
     content: "";
     font-weight: bolder;
     color: #000000;
 }
 
 .regoimg {
     width: 125px;
     height: 77px;
 }
 
 .headline-textt {
     font-size: 1.2rem;
     max-width: 500px;
     line-height: 2rem;
     text-align: justify;
 }
 
 .headline-textt-fact {
     font-size: 1.2rem;
     max-width: 600px;
     line-height: 2rem;
 }
 
 .custom-underline {
     position: relative;
     margin-bottom: 3rem;
 }
 
 .custom-underline::after {
     content: "";
     position: absolute;
     bottom: 0px;
     left: 50%;
     width: 100px;
     height: 3px;
     background-color: #719D9A;
     transform: translateX(-50%);
 }
 
 .rounded-mine {
     border-radius: 10px;
 }
 
 .mybox {
     border-left: 3px solid #719D9A;
     padding-left: 9px;
 }
 
 .card {
     transition: all 0.3s;
 }
 
 .card:hover {
     transform: scale(1.04);
 }
 
 .fw-bold {
     font-weight: 500 !important;
 }
 
 .imghei {
     height: 320px;
     object-fit: cover;
     width: 100%;
     border-radius: 15px;
 }
 
 .afte {
     position: relative;
     display: block;
     transition: all 0.3s;
 }
 
 .afte::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: 10px;
     background-image: linear-gradient(200deg, rgba(255, 255, 255, 0), #0000002d);
     z-index: 21;
 }
 
 .afte:hover {
     transform: scale(1.04);
 }
 
 .img-text {
     position: absolute;
     bottom: 10px;
     left: 10px;
     color: white;
     z-index: 22;
     font-weight: 700;
     letter-spacing: 0.2px;
     text-shadow: 1px 1px #000000;
     font-size: 1.7rem;
 }
 
 .nav-pills .nav-item .nav-link {
     background-color: #f8f9fa;
     color: black;
 }
 
 .nav-pills .nav-item .nav-link:hover {
     text-decoration: none;
     border: none;
     padding: 0.5rem 1rem !important;
     position: relative;
     font-weight: 500;
     background-color: #000000;
     color: #ffffff !important;
 }
 
 .nav-pills .nav-item .nav-link.active {
     padding: 0.5rem 1rem !important;
     position: relative;
     font-weight: 500;
     background-color: #000000;
     color: #ffffff !important;
 }
 
 .btn-minee {
     border-radius: 8px !important;
     border-top-left-radius: 0px !important;
     border-top-right-radius: 0px !important;
     background-color: #f8f9fa;
     color: rgb(0, 0, 0);
 }
 
 .btn-minee:hover {
     color: rgb(0, 0, 0);
 }
 
 .rounded-top-mine {
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
 }
 
 .shadow-lg {
     box-shadow: 0 1rem 2rem rgba(130, 133, 133, 0.175) !important;
 }
 
 .modal {
     position: fixed !important;
     top: 0 !important;
     left: 0 !important;
     width: 100% !important;
     height: 100% !important;
     background: rgba(0, 0, 0, 0.6) !important;
     display: block;
     z-index: 99999999;
 }
 
 .modal-main2 {
     position: fixed;
     background: white;
     top: 50%;
     left: 50%;
     max-height: 90vh;
     transform: translate(-50%, -50%);
 }
 
 .myinnerimg {
     max-height: 70vh !important;
 }
 
 .feature-img {
     object-fit: cover;
     position: relative;
     border-radius: 15px;
     height: 250px;
     max-width: 250px;
     padding-left: 5px;
     padding-right: 5px;
 }
 
 .factimg {
     object-fit: cover;
     position: relative;
     border-radius: 15px;
     height: 300px;
     width: 90%;
 }
 
 .card-img-top {
     position: relative;
 }
 
 .text-overlay {
     background-size: cover;
     background-position: center;
     color: #fff !important;
     font-size: 1.8rem !important;
     position: absolute;
     bottom: 10px;
     left: 10px;
     z-index: 22;
 }
 
 .text-overlay::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: linear-gradient(200deg, rgba(255, 255, 255, 0), #0000002d);
     /* Adjust the opacity value as needed */
     z-index: 1;
 }
 
 .fields {
     width: 100%;
     padding: 1.5rem 1.5rem;
     border: none;
     border-radius: 8px;
     background-color: #f1f3fa;
 }
 
 .foot-up-img {
     opacity: 0.25;
     margin-bottom: -5px;
     overflow: hidden;
     width: 100% !important;
 }
 
 .sixdesign {
     max-height: 90px;
     width: auto;
 }
 /* .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
} */
 
 .underline {
     text-decoration: underline #719D9A!important;
     text-underline-offset: 15px;
     text-decoration-thickness: 2px;
 }
 
 @media (max-width: 700px) {
     .mess {
         height: 100px !important;
     }
     #myVideo {
         object-fit: cover;
         object-position: center;
         border-radius: 20px;
         height: 200px !important;
     }
     .navbar-brand {
         color: black !important;
         font-weight: 800;
         height: 75px;
     }
     .infotext {
         font-size: 1.4rem;
     }
     .main-titlee {
         justify-content: center;
         text-align: center;
     }
     .center-sm {
         text-align: center;
     }
 }